RewriteEngine On
RewriteBase /isatadmin/

# Ignora arquivos e diretórios reais
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redireciona tudo para index.php
RewriteRule ^ index.php [QSA,L]
