.gerenciar{
    width: 100%;
    height: 400px;
}
.formNewWorker{
    padding: 10px;
}
.optNewWorker{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    & input{
        height: 40px;
        border: none;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        font-size: 1.3em;
    }
}
/*
    $('.btnDelete').on('click', function(){
        var modalId = $(this).data('modal-id');
        $('.myModal-' + modalId).css('display', 'flex');
    });

    $('.myModal').on('click', function(e){
    if(e.target==this){
        $('.myModal').css("display", "none");
    }
    $('.btnCancel').on('click', function(){
        $('.myModal').css("display", "none");
    });

      $('input[name="profilepic"]').on('change', function(e) {
        // Obtém o caminho do arquivo selecionado
        var imagePath = URL.createObjectURL(e.target.files[0]);

        // Exibe a visualização da imagem no photo-container
        $('.photo-container img').attr('src', imagePath);
    });
    data-modal-id="<?=$row->id?>"
});
*/

.formWorkerOpt{
    display: flex;
}
.formNewWorker select{
    height: 40px;
    width: 100%;
    font-size: 1.3em;
}
.formNewWorker input[type=button]{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    background-color: rgb(229, 238, 188);
}
.formNewWorker input[type=button]:hover{
    background-color: rgb(214, 226, 159);
    cursor: pointer;
}
.Worker {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.Worker .optWorker{
    width: 100%;
    padding: 20px;
    color: black;
}
.Worker:nth-child(even){
    background-color: rgb(238, 237, 204);
}

.Worker:nth-child(odd){
    background-color: rgb(220, 230, 179);
}